a{
  color: #DDDDDD;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
body{
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}
h1{
  font-size: 5.625rem;
  font-family: 'Qwitcher Grypen', cursive;
  margin: 5px auto 0;
  line-height: 2;
  padding: 5px;
  color: #30475E;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #30475E;
  padding-bottom: 5%;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #F05454;
  padding: 3% 0;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-color:#EAF6F6;
  border-width:6px;
  width:4%;
  margin: 100px auto;
}
p{
  line-height: 200%;
}

#body{
  padding: 7% 15%;
}
.btn{
  background-color:#30475E;
  color: #DDDDDD;
}
.btn:hover{
background-color: #40514E;
color: #EAF6F6;
}
.navbar{
  background-color: #DDDDDD;
  color: #30475E;
  padding: 1% 15%;
}
.bottom-container{
  background-color: #30475E;
  margin-bottom: 0;
  line-height: 200%;
  color: white;
  padding: 50px 0 20px;
}



.contact-me{
  margin: 100px auto;
}
.comtact-msg{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #DDDDDD;
  font-size: 0.76rem;
  padding: 20px 0;
}
.footer-link{
  padding-right: 20px;
}

.pro{
  text-decoration: underline;
}

.profile-desc{
  text-align: justify;
  padding:0 7.5%;
}
.profile-img{
  border-radius: 50%;
  width: 25%;
margin-bottom: 2rem;
}

.bg-image{
  background-color: #DDDDDD;
  background-image: url("../images/bannerhome1.svg");
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
}
.intro-box{
    margin: 100px auto;
}
